<div class="homepage-collection">
  <div class="item">
    <div class="image">img</div>
    <hr />
    <div class="title">Product</div>
  </div>
  <div class="item">
    <div class="image">img</div>
    <hr />
    <div class="title">Product</div>
  </div>
  <div class="item">
    <div class="image">img</div>
    <hr />
    <div class="title">Product</div>
  </div>
  <div class="item">
    <div class="image">img</div>
    <hr />
    <div class="title">Product</div>
  </div>
  <div class="item">
    <div class="image">img</div>
    <hr />
    <div class="title">Product</div>
  </div>
  <div class="item">
    <div class="image">img</div>
    <hr />
    <div class="title">Product</div>
  </div>
  <div class="item">
    <div class="image">img</div>
    <hr />
    <div class="title">Product</div>
  </div>
</div>
{{yield}}
