<div class="top-nav-bar">
  {{#link-to 'index' class='left-link circle'}}{{/link-to}}
  {{#link-to 'index' class='left-link'}}WeCenter{{/link-to}}
  {{#if session.isAuthenticated}}
    <button {{action "logout" clsss="right-link"}} >Logout</button>
    {{#link-to 'user-homepage' class='right-link'}}{{session.data.authenticated.user}}{{/link-to}}
  {{else}}
    {{#link-to 'user-signup' class='right-link'}}Register{{/link-to}}
    {{#link-to 'user-login' class='right-link'}}Login{{/link-to}}
  {{/if}}
</div>
{{yield}}
