<div class="top-nav-bar">
  {{#link-to 'index' class='link'}}October{{/link-to}}
  {{#link-to 'user-login' class='link'}}Login{{/link-to}}
  {{#link-to 'user-signup' class='link'}}Sign Up{{/link-to}}
</div>
{{yield}}
