top-nav-bar-height = 60px
top-nav-bar-width = 90%

top-nav-bar-link-width = 70px
top-nav-bar-link-spacing = 10px

top-nav-bar-icon-length = 60px
top-nav-bar-icon-margin = (top-nav-bar-link-width - top-nav-bar-icon-length)/2

.top-nav-bar
  position: relative
  height: top-nav-bar-height
  width: top-nav-bar-width
  background-color: rgba(255, 255, 0, 0)
  padding: 0 5% 0 5%
  margin: none
  border: none
  z-index: 100

.top-nav-bar .left-link
  float: left;
  height: top-nav-bar-height
  width: top-nav-bar-link-width
  padding: 0 top-nav-bar-link-spacing 0 top-nav-bar-link-spacing

  text-align: center
  vertical-align: middle
  line-height: top-nav-bar-height
  text-decoration: none;
  font-size: 17px;

.top-nav-bar .right-link
  float: right;
  height: top-nav-bar-height
  width: top-nav-bar-link-width
  padding: 0 top-nav-bar-link-spacing 0 top-nav-bar-link-spacing

  text-align: center
  vertical-align: middle
  line-height: top-nav-bar-height
  text-decoration: none;
  font-size: 17px;

.top-nav-bar .circle
  float: left
  height: top-nav-bar-height - 10px
  width: top-nav-bar-height - 10px
  margin: top-nav-bar-icon-margin
  border-radius: 50%;

  background-color: red;
