<div class='user-login'>
  <form {{action 'login' model on='submit'}} class='input-form'>
    <div>
      <label>Email</label>
      {{input type="text" value=model.email}}
      <label>Password</label>
      {{input type="password" value=model.password}}
    </div>
    <button type="submit">Login</button>
  </form>
</div>
{{outlet}}
